SUPABASE_URL='https://hauhffypvwiesgyxptcg.supabase.co'
SUPABASE_KEY='eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImhhdWhmZnlwdndpZXNneXhwdGNnIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NTc3NTY3MjIsImV4cCI6MjA3MzMzMjcyMn0.Uav6UVLijJRRwIDWr6IXqLwM50UyO4rrb7sozYYvLsU'
JWT_SECRET ='N81T286SNz/L5Ay8M7iEY3wvUmSbdt9f0Qz+I+9rhZ8ajaSV4hJb4mBcYmELneDU5QBvmjKGU2UWAbriGjM3GQ=='